/* Блок orderDetails */

.id {
  margin: 40px 0 20px;
  text-align: center;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}
.identification {
  text-align: center;
}
.image {
  width: 120px;
  height: 120px;
  margin: 60px auto;
}
.text {
  text-align: center;
}
.text:last-of-type {
  margin-bottom: 40px;
}

/* .order {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  max-height: 718px;
  align-items: center;
  box-sizing: border-box;
  background: #1c1c21;
  /* /interface/modal edge */
/* border: 1px solid rgba(76, 76, 255, 0.2);
  box-sizing: border-box;

  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
} */
/* 
.orderTitle {
  font-family: "Iceland", "Ariel";
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 120px;
  /* identical to box height, or 83% */
/* text-align: center;
  color: #f2f2f3;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
} */

.orderSubtitle {
  font-family: "JetBrains Mono", "Ariel";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  /* identical to box height, or 125% */
  text-align: center;
  /* text/primary-light (standart text) */
  color: #f2f2f3;
}

.orderClose {
  width: 24px;
  height: 24px;
  background: #f2f2f3;
}

.orderIcon {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
}

.orderAnswer1 {
  font-family: "JetBrains Mono", "Ariel";
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* text/primary-light (standart text) */
  color: #f2f2f3;
}

.orderAnswer2 {
  font-family: "JetBrains Mono", "Ariel";
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  /* text/dark grey (secondary text) */
  color: #8585ad;
}
