/* 3 - 1(3) Блок burgerIngredients */
.ingridients {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    max-width: 600px;
    height: 1px;
    align-self: flex-start;
}

.titul {
    max-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.wrapper {
    max-width: 600px;
    display: flex;
}

.name {
    max-width: 600px;
    height: 1px;
}

.list {
    display: grid;
    justify-content: center;
    max-width: 600px;
    grid-template-columns: repeat(2, 272px);
    grid-row-gap: 32px;
    grid-column-gap: 24px;
    align-self: flex-start;
}

/* // 3 - 2(3) Блок BurgerIngredientItem */
.titledBlock {
    max-width: 600px;
}

/* 3 - 3(3) Блок burgerIngredientMenu */
.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture {
    max-width: 240px;
    max-height: 120px;
}
.image {
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 272px;
    position: relative;
}

.txt {
    min-height: 48px;
    text-align: center;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background-color: #2f2f37;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #2f2f37;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #131316;
}
