/* 1-1(3) Блок Хедер-appHeader */
.header {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}

/* 1-2(3) Блок Хедер-appHeaderMenu */
.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1250px;
  width: 100%;
}

.list {
  max-width: 1250px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  padding: 0;
}

/* 1-3(3) Блок Хедер-appHeaderMenuItem */
.two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-60px);
  width: 289.2px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1280px) {
  .logo {
    transform: translateX(-60px);
    width: 100%;
  }
}

@media screen and (max-height: 1024px) {
  .logo {
    transform: translateX(-55px);
  }
}

@media screen and (max-width: 764px) {
  .logo {
    transform: translateX(-30px);
  }
}

@media screen and (max-width: 425px) {
  .logo {
    transform: translateX(-10px);
  }
}

.icon2 {
  display: flex;
  align-items: flex-end;
}

.unit {
  display: flex;
  margin: 16px auto;
  max-width: 180px;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #f2f2f3;
  padding-right: 49px;
}

.unit:last-child {
  padding-right: 0;
}

.unit:hover {
  color: #8585ad;
}
