/* Для блока BurgerIngredient (попап) */
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  padding: 0;
}

.title {
  display: flex;
  align-items: center;
  font-family: "JetBrains Mono", "Ariel", "JetBrains Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
}
.mainIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 240px;
}

.orderClose {
  width: 24px;
  height: 24px;
  background: #f2f2f3;
}

.subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "JetBrains Mono", "Ariel", "JetBrains Mono";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #f2f2f3;
}

.content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
  gap: 20px;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
}
.text {
  font-family: "JetBrains Mono", "Ariel", "JetBrains Mono";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #8585ad;
}

.textInfo {
  font-family: "JetBrains Mono", "Ariel", "JetBrains Mono";
  text-align: center;
  font-size: 28px;
  line-height: 24px;
  color: #8585ad;
}
