/* 2-1(3) Блок burgerConstructor  */
.constructor {
    /* border: 1px solid blue; */
    display: flex;
    justify-self: start;
    max-width: 600px;
    width: 100%;
    margin: 100px 0 40px;
    flex-direction: column;
    align-items: flex-end;
}
.list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    transform: translateX(15px);
}

.check {
    display: flex;
    align-items: center;
}

/* 2-2(3) Блок ConstructorItem для burgerConstructor */
.card {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}

.element {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.itemPosition {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 2-3(3) Блок ConstructorSheet для burgerConstructor */
.wrapper {
    max-height: calc(100vh - 590px);
    overflow-y: scroll;
    padding-right: 8px;
    height: 100vh;
    overflow: scroll;
    position: relative;
    overflow-x: hidden;
}

.sheet {
    margin-bottom: 0;
    padding-bottom: 0;
    list-style-type: none;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 536px;
    margin-left: 13px;
}

/* полоса прокрутки (скроллбар) для BurgerIngredients */
::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    background-color: #3f3f46;
}

/* ползунок скроллбара для BurgerIngredients */
::-webkit-scrollbar-thumb {
    background-color: #727277;
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #131316;
}
